@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_colours.scss';
@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_conditionals.scss';
@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_css3.scss';
@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_typography.scss';
@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss';
@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_url-helpers.scss';
$path: '../images/';

/* --- Global Site Styling --- */

.breadcrumbs {
    ol {
        margin: 0;
        padding: 0;
    }
}

#global-header-bar {
    background: $turquoise;
}

.bookanappt-form {
    h1.heading-xlarge {
        margin-bottom: 0.5em;
    }

    .form-label {
        margin-top: 0.4em;
    }
}

.appointment-box {
    border: 10px solid #bfc1c3;
    margin: 1em 0;
    padding: 1em;

    &:hover {
        border-color: $yellow;
    }

    h3 {
        margin-top: 1em;
    }
}

.availableappointments {
    .font-medium {
        margin-bottom: 0px;
    }
}

.appointmentbutton {
    text-decoration: underline;
    color: $govuk-blue;
    cursor: pointer;
}