@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_colours.scss';
@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_conditionals.scss';
@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_css3.scss';
@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_typography.scss';
@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss';
@import '../../../node_modules/govuk_frontend_toolkit/stylesheets/_url-helpers.scss';
$path: '../images/';

/* --- Global Site Styling --- */

.breadcrumbs {
    ol {
        margin: 0;
        padding: 0;
    }
}

.right {
    float: right;
}

.left {
    float: left;
}

#global-header-bar {
    background: $turquoise;
}

.bookanappt-form {
    h1.heading-xlarge {
        margin-bottom: 0.5em;
    }

    .form-label {
        margin-top: 0.4em;
    }
}

.appointment-box {
    border: 10px solid #bfc1c3;
    margin: 1em 0;
    padding: 1em;

    &:hover {
        border-color: $yellow;
    }

    .appointment {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    .location {
        margin-top: 0em;
    }

    &.booked {
        border-color: $yellow;
    }

    .appointment-box-address {
        margin: 0 0 1em 0;
    }

    .heading-medium {
        margin: 0.5em 0 0 0;
    }
}

.availableappointments {
    .font-medium {
        margin-bottom: 0px;
    }
}

.appointmentbutton, .locationbutton {
    text-decoration: underline;
    color: $govuk-blue;
    cursor: pointer;
}

.govuk-border-top {
    margin-top: 30px;
    border-top: 10px solid $turquoise;
    padding-top: 5px;

    .heading-medium {
        margin: 0.5em 0 0.5em 0;
    }

    p {
        margin: 0.5em 0;
    }
}

.benefit-type-other {
    float: left;
    width: 100%;
    margin-top: 10px;
}