{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="content-container">
    {% include "includes/phase_banner_alpha.html" %}
</div>
<main id="content" role="main" class="bookanappt-form">

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Service Green</a></li>
            <li><a href="/">Book An Appointment</a></li>
            <li><a href="#">JCP Work Coach Information</a></li>
        </ol>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Book An Appointment</span>
                Your Appointment
            </h1>
            <p>Your appointment has successful been booked</p>
            <div class="appointment-box booked">
                <h3 class="heading-medium appointment">Tuesday, 8th February at 14:00</h3>
                <p class="heading-medium location">Job Center Plus Coventry</p>
                <p>Cofa Court,<br />Coventry,<br />CV1 2HJ</p>
            </div>

            <a href="home" class="button">Return to homepage</a>
        </div>
    </div>





          


</main>
{% endblock %}


