{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="content-container">
    {% include "includes/phase_banner_alpha.html" %}
</div>
<main id="content" role="main" class="bookanappt-form">

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">National Careers Service</a></li>
            <li><a href="/">Book An Appointment</a></li>
            <li><a href="#">Customer Further Details</a></li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Book An Appointment</span>
                Customer Further Details
            </h1>
            <p>Please list any special conditions relating to the customer below</p>
            <form>
                <div class="form-group">
                    <fieldset>
                        <label class="form-label-bold" for="customer-conditions">
                            Customer special conditions
                            <span class="form-hint">Disabilities, health conditions, language barriers</span>
                        </label>
                        <textarea class="form-control" id="customer-conditions" rows="5"></textarea>
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>

                        <legend>
                            <h3 class="form-label-bold">Customer benefit type?</h3>
                            <span class="body-text">Select all that apply</span>
                        </legend>

                        <div class="multiple-choice">
                            <input id="benefit-type-1" name="benefit-types" type="checkbox" value="benefit-jsa">
                            <label for="benefit-type-1">JSA</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="wasbenefitte-type-2" name="benefit-types" type="checkbox" value="benefit-esa">
                            <label for="benefit-type-2">ESA</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="benefit-type-3" name="benefit-types" type="checkbox" value="benefit-income">
                            <label for="benefit-type-3">Income support</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="benefit-type-4" name="benefit-types" type="checkbox" value="benefit-uc">
                            <label for="benefit-type-4">Universal credit</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="benefit-type-5" name="benefit-types" type="checkbox" value="benefit-other">
                            <label for="benefit-type-5">Other</label>
                        </div>
                        <div class="benefit-type-other hidden">
                            <label class="form-label-bold" for="customer-benefit">
                                Other benefit type
                            </label>
                            <input class="form-control" id="customer-benefit" type="text" name="customer-benefit">
                        </div>
                       
                    </fieldset>
                    <fieldset>

                    </fieldset>
                </div>

                <div class="form-group">
                    <a class="button" href="bookform5.html" role="button">Save and continue</a>
                </div>
                <a class="link-back" href="bookform3.html">Back</a>
            </form>
        </div>

        <div class="column-third">
            <aside class="govuk-border-top" role="complementary">
                <h2 class="heading-medium">
                    Your Appointment
                </h2>
                <p class="font-xsmall">
                    <span class="bold-small">When:</span><br />
                    Tuesday, 8th February at 14:00
                </p>
                <p class="font-xsmall">
                    <span class="bold-small">Where:</span><br />
                    JobcentrePlus Coventry <br />
                    Cofa Court,<br />Coventry,<br />CV1 2HJ
                </p>
                </p>
            </aside>

        </div>

    </div>
</main>
{% endblock %}


