{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main" class="bookanappt-form">

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Service Green</a></li>
            <li><a href="/">Book An Appointment</a></li>
            <li><a href="#">JCP Work Coach Information</a></li>
        </ol>
    </div>


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Book An Appointment</span>
                Your Appointment
            </h1>
            <p>Please provide your (work coach) details below</p>

            <form>
                <div class="form-group">
                    <fieldset>
                        <label class="form-label-bold" for="jcp-workcoach">JCP work coach name</label>
                        <input class="form-control" id="jcp-workcoach" type="text" name="jcp-workcoach">
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label class="form-label-bold" for="jcp-reason">JCP reason for referral/service required
                        <span class="form-hint">E.g. CV Review, Skills Health Check, Careers Advice, Interview Skills</span>
                        </label>
                        <textarea class="form-control" id="jcp-reason" rows="5"></textarea>
                    </fieldset>
                </div>

                <div class="form-group">
                    <a class="button" href="appointments.html" role="button">Find available appointments</a>
                </div>
                <a class="link-back" href="bookform4.html">Back</a>
            </form>


          


</main>
{% endblock %}


