{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main" class="bookanappt-form">

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Service Green</a></li>
            <li><a href="home.html">Book An Appointment</a></li>
            <li><a href="/">Customer Details</a></li>
        </ol>
    </div>


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Book An Appointment</span>
                Customer Details
            </h1>
            <p>Form introduction goes here, text describing what this section of the form will capture, what for etc</p>

            <form>
                <div class="form-group">
                    <fieldset>
                        <label class="form-label-bold" for="customer-name">Customer name</label>
                        <input class="form-control" id="customer-name" type="text" name="customer-name">
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <span class="form-label-bold">
                                Customer Date Of Birth
                            </span>
                            <span class="form-hint">For example, 31 3 1980</span>
                        </legend>
                        <div class="form-date">
                            <div class="form-group form-group-day">
                                <label class="form-label" for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                            </div>
                            <div class="form-group form-group-month">
                                <label class="form-label" for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                            </div>
                            <div class="form-group form-group-year">
                                <label class="form-label" for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2017">
                            </div>
                        </div>
                    </fieldset>
                    
                </div>
                <div class="form-group">
                    <a class="button" href="bookform2.html" role="button">Save and continue</a>
                </div>
            </form>


</main>
{% endblock %}


