{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="content-container">
    {% include "includes/phase_banner_alpha.html" %}
</div>
<main id="content" role="main" class="bookanappt-form">

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Service Green</a></li>
            <li><a href="home.html">Book An Appointment</a></li>
            <li><a href="/">Customer Details</a></li>
        </ol>
    </div>


    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Book An Appointment</span>
                Customer Details
            </h1>
            <p>Please input the details of the customer you wish to book an appointment for below.</p>


            <form>
                <div class="form-group">
                    <fieldset>
                        <label class="form-label-bold" for="customer-name">Customer name</label>
                        <input class="form-control" id="customer-name" type="text" name="customer-name">
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <span class="form-label-bold">
                                Customer Date Of Birth
                            </span>
                            <span class="form-hint">For example, 31 3 1980</span>
                        </legend>
                        <div class="form-date">
                            <div class="form-group form-group-day">
                                <label class="form-label" for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                            </div>
                            <div class="form-group form-group-month">
                                <label class="form-label" for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                            </div>
                            <div class="form-group form-group-year">
                                <label class="form-label" for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2017">
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div class="form-group">
                    <a class="button" href="bookform2.html" role="button">Save and continue</a>
                </div>
            </form>
        </div>

        <div class="column-third">
            <aside class="govuk-border-top" role="complementary">
            <h2 class="heading-medium">
                Your Appointment
            </h2>
            <p class="font-xsmall">
                <span class="bold-small">When:</span><br />
                Tuesday, 8th February at 14:00
            </p>
                <p class="font-xsmall">
                    <span class="bold-small">Where:</span><br />
                    Job Center Plus Coventry <br />
                Cofa Court,<br />Coventry,<br />CV1 2HJ</p>
            </p>
        </aside>

        </div>

    </div>






</main>
{% endblock %}


