{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="content-container">
    {% include "includes/phase_banner_alpha.html" %}
</div>
<main id="content" role="main" class="bookanappt-form">

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">National Careers Service</a></li>
            <li><a href="/">Book An Appointment</a></li>
            <li><a href="#">JCP Work Coach Information</a></li>
        </ol>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Book An Appointment</span>
                JCP Work Coach Information
            </h1>
            <p>Please provide your (work coach) details below</p>

            <form>
                <div class="form-group">
                    <fieldset>
                        <label class="form-label-bold" for="jcp-workcoach">JCP work coach name</label>
                        <input class="form-control" id="jcp-workcoach" type="text" name="jcp-workcoach">
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label class="form-label-bold" for="jcp-reason">
                            JCP reason for referral/service required
                            <span class="form-hint">E.g. CV Review, Skills Health Check, Careers Advice, Interview Skills</span>
                        </label>
                        <textarea class="form-control" id="jcp-reason" rows="5"></textarea>
                    </fieldset>
                </div>

                <div class="form-group">
                    <a class="button" href="booked.html" role="button">Submit your booking</a>
                </div>
                <a class="link-back" href="bookform4.html">Back</a>
            </form>
        </div>

        <div class="column-third">
            <aside class="govuk-border-top" role="complementary">
                <h2 class="heading-medium">
                    Your Appointment
                </h2>
                <p class="font-xsmall">
                    <span class="bold-small">When:</span><br />
                    Tuesday, 8th February at 14:00
                </p>
                <p class="font-xsmall">
                    <span class="bold-small">Where:</span><br />
                    Job Center Plus Coventry <br />
                    Cofa Court,<br />Coventry,<br />CV1 2HJ
                </p>
                </p>
            </aside>

        </div>

    </div>




</main>
{% endblock %}


