{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="content-container">
    {% include "includes/phase_banner_alpha.html" %}
</div>
<main id="content" role="main">

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Service Green</a></li>
            <li><a href="home">Book An Appointment</a></li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Book An Appointment
            </h1>
            <p>Our advisers are available throughout the country for face-to-face and online video appointments.</p>
            <p>You'll work with an adviser to find out what your goals are and to explore different ways of achieving them. Your discussion is private and confidential. You can make follow-up appointments if you need to.</p>

            <p>Use this service to:</p>
            <ul class="list list-bullet">
                <li>view available appointments</li>
                <li>book an appointment</li>
            </ul>
            <p>
                <a class="button button-start" href="appointments" role="button">Start now</a>
            </p>

        </div>
        <div class="column-third">
        </div>
    </div>

</main>
{% endblock %}


