{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Service Green</a></li>
            <li><a href="home">Book An Appointment</a></li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Book An Appointment
            </h1>
            <p>Our advisers are available throughout the country for face-to-face and online video appointments.</p>
            <p>You'll work with an adviser to find out what your goals are and to explore different ways of achieving them. Your discussion is private and confidential. You can make follow-up appointments if you need to.</p>

            <p>Use this service to:</p>
            <ul class="list list-bullet">
                <li>book an appointment</li>
                <li>other stuff</li>
                <li>more other stuff</li>
            </ul>
            <p>
                <a class="button button-start" href="appointments" role="button">Start now</a>
            </p>
            <h2 class="heading-medium">Before you start</h2>
            <p>Text here</p>
        </div>
        <div class="column-third">
            <!--<aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium">
                    Want to talk?
                </h2>
                <p class="font-small" style="margin-bottom: 0px;">
                    <span class="bold-small">Telephone:</span>
                    0800 100 900
                </p>
                <p class="grey font-xsmall">Mon-Fri 9:00AM to 5:00PM</p>
            </aside>-->
          
        </div>
    </div>

</main>
{% endblock %}


