{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Service Green</a></li>
            <li><a href="/">Book An Appointment</a></li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Book An Appointment
            </h1>
            <p>Use this service to:</p>
            <ul class="list list-bullet">
                <li>book an appointment</li>
                <li>other stuff</li>
                <li>more other stuff</li>
            </ul>
            <p>
                <a class="button button-start" href="bookform1" role="button">Start now</a>
            </p>
            <h2 class="heading-medium">Before you start</h2>
            <p>You can also <a href="#">book an appointment by telephone.</a></p>
        </div>
        <div class="column-third">

          
        </div>
    </div>

</main>
{% endblock %}


