{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Service Green</a></li>
            <li><a href="/">Log in</a></li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Book An Appointment
            </h1>
            <p>Our advisers are available throughout the country for face-to-face and online video appointments.</p>
            <p>You'll work with an adviser to find out what your goals are and to explore different ways of achieving them. Your discussion is private and confidential. You can make follow-up appointments if you need to.</p>
             
            <h2 class="heading-medium">To use this service you'll first need to log in using the credentials provided to you:</h2>

            <form>
                <div class="form-group">
                    <fieldset>
                        <label class="form-label-bold" for="username">Username</label>
                        <input class="form-control" id="username" type="number" name="username">
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label class="form-label-bold" for="password">Password</label>
                        <input class="form-control" id="password" type="text" name="password">
                    </fieldset>
                </div>

                <div class="form-group">
                    <a class="button" href="home.html" role="button">Log in</a>
                </div>

            </form>
        </div>
        <div class="column-third">
          
        </div>
    </div>

</main>
{% endblock %}


